.container{
    display : flex;
    /* justify-content:space-around; */
  
  
    flex-wrap: wrap;
}

.productcard:hover{
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.678);
}

.productcard{
     margin : 10px 10px; 
     padding:5px;
    
}


.buy{
    margin-left:20px;
    width : 100%;
}